<h1 mat-dialog-title>Nova Live</h1>

<div class="mat-dialog-content">
  <form class="exemple-form" [formGroup]="liveForm">
    <mat-form-field class="exemple-full-width">
      <mat-label>Nome da live</mat-label>
      <input matInput formControlName="liveName" name="liveName">
    </mat-form-field>
    <mat-form-field class="exemple-full-width">
      <mat-label>Nome da Canal</mat-label>
      <input matInput formControlName="channelName" name="channelName">
    </mat-form-field>
    <mat-form-field class="exemple-full-width">
      <mat-label>Link completo</mat-label>
      <input matInput formControlName="liveLink" name="liveLink">
    </mat-form-field>

    <div fxLayout="row wrap">
      <div fxFlex="40" fxFill fxFlexAlign="stat center">
        <mat-form-field class="exemple-full-width">
          <mat-label>Data da Live</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="liveDate" name="liveDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div fxFlex></div>
      <div fxFlex="40" fxFill fxFlexAlign="stat center">
        <mat-form-field class="exemple-full-width">
          <mat-label>Horário da Live</mat-label>
          <input matInput type="time" formControlName="liveTime" name="liveTime">
        </mat-form-field>
      </div>
    </div>

  </form>
</div>

<div class="mat-dialog-actions">
  <button mat-raised-button color="primary"(click)="createLive()">Adicionar</button>
  <button class="mat-button" (click)="cancel()">Cancelar</button>
</div>


